body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.container {
    display: flex;
    max-width: 900px;
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.login-form {
    padding: 40px;
    width: 40vw;
}

.logo img {
    width: 70px;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
    color: #333;
    font-size: 24px;
    font-weight: 700;
}

p {
    color: #666;
    margin-bottom: 20px;
}

form label {
    color: #333;
    font-size: 14px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.options a {
    color: #0066ff;
    text-decoration: none;
    font-size: 14px;
}

.login-button {
    width: 100%;
    padding: 15px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-with {
    text-align: center;
    margin-top: 20px;
}

.google-button {
    width: 100%;
    padding: 15px;
    background-color: white;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.illustration {
    width: 50vw;
    /* padding: 40px; */
    background-size: cover;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#illustration-id{
    /* object-fit: fill; */
    width: 100%;
    height: 100%;
    object-fit: fill;
}


